{
    servers {
        trusted_proxies static private_ranges
    }

    auto_https off
}

http://auth{{ optional_staging_suffix }}.{{ domain_name }} {
    reverse_proxy http://authelia:9091
}

http://www{{ optional_staging_suffix }}.{{ domain_name }}, http://{{ domain_name }} {
    reverse_proxy http://www:3000
}

http://pathfinder.prof, http://pathfindery{{ optional_staging_suffix }}.{{ domain_name }} {
    reverse_proxy http://pathfinder:8080
}

http://gl{{ optional_staging_suffix }}.{{ domain_name }} {
    forward_auth http://authelia:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }

    reverse_proxy http://gl:3001
}

http://gldemo{{ optional_staging_suffix }}.{{ domain_name }} {
    reverse_proxy http://gldemo:3001
}

http://mta-display{{ optional_staging_suffix }}.{{ domain_name }} http://mtadisplay{{ optional_staging_suffix }}.{{ domain_name }} {
    reverse_proxy http://mta-display:3000

    @protected path /gallery/review
    forward_auth @protected http://authelia:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
}

http://*.{{ domain_name }} {
    redir https://www.{{ domain_name }}{uri}
}
