storage:
  local:
    path: '/config/db.sqlite3'

log:
  level: debug

session:
  expiration: '3M'
  inactivity: '1M'
  remember_me: '3M'
  name: authelia_session
  cookies:
    - domain: '{{ public_domain_name }}'
      authelia_url: 'https://auth{{ optional_staging_suffix }}.{{ public_domain_name }}'
      default_redirection_url: 'https://www{{ optional_staging_suffix }}.{{ public_domain_name }}'

server:
  address: 'tcp://:9091'
  endpoints:
    authz:
      forward-auth:
        implementation: 'ForwardAuth'

authentication_backend:
  password_change:
    disable: true
  password_reset:
    disable: true
  file:
    path: '/config/users_database.yml'

access_control:
  default_policy: 'one_factor'

notifier:
  disable_startup_check: true
  filesystem:
    filename: '/config/notification.txt'
