{
    servers {
        trusted_proxies static private_ranges
    }

    auto_https off
}

http://auth.{{ domain_name }}, http://auth.ryangeary.localhost {
    reverse_proxy http://authelia:9091
}

http://www.{{ domain_name }}, http://www.ryangeary.localhost, http://{{ domain_name }}, http://ryangeary.localhost {
    reverse_proxy http://www:3000
}

http://pathfinder.prof, http://pathfinder.{{ domain_name }}, http://pathfinder.localhost {
    reverse_proxy http://pathfinder:8080
}

http://gl.{{ domain_name }}, http://gl.ryangeary.localhost {
    forward_auth http://authelia:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }

    reverse_proxy http://gl:3001
}

http://gldemo.{{ domain_name }} {
    reverse_proxy http://gldemo:3001
}

http://webhook.{{ domain_name }} http://webhooks.{{ domain_name }} {
    reverse_proxy http://imageupdatewebhook:8080
}

http://mta-display.{{ domain_name }} http://mtadisplay.{{ domain_name }} {
    reverse_proxy http://mta-display:3000

    @protected path /gallery/review
    forward_auth @protected http://authelia:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
}

http://jellyfin.{{ domain_name }} {
    reverse_proxy http://192.168.0.227:30013
}

http://*.{{ domain_name }} {
    redir https://www.{{ domain_name }}{uri}
}
