{
    servers {
        trusted_proxies static private_ranges
    }

    auto_https off
}

http://auth.ryangeary.dev, http://auth.ryangeary.localhost {
    reverse_proxy http://authelia:9091
}

http://www.ryangeary.dev, http://www.ryangeary.localhost, http://ryangeary.dev, http://ryangeary.localhost {
    reverse_proxy http://www:3000
}

http://pathfinder.prof, http://pathfinder.ryangeary.dev, http://pathfinder.localhost {
    reverse_proxy http://pathfinder:8080
}

http://gl.ryangeary.dev, http://gl.ryangeary.localhost {
    forward_auth http://authelia:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }

    reverse_proxy http://gl:3001
}

http://gldemo.ryangeary.dev {
    reverse_proxy http://gldemo:3001
}

http://webhook.ryangeary.dev {
    reverse_proxy http://imageupdatewebhook:8080
}

http://*.ryangeary.dev {
    redir https://www.ryangeary.dev{uri}
}
