{
    servers {
        trusted_proxies static private_ranges
    }
}
jellyfin.{{ local_domain_name }} {
    reverse_proxy truenas.{{ local_domain_name }}:8096 {
        header_up Host jellyfin.{{ local_domain_name }}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
    }
}

lyrion.{{ local_domain_name }} {
    reverse_proxy truenas.{{ local_domain_name }}:31101 {
        header_up Host lyrion.{{ local_domain_name }}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
    }
}

ntfy.{{ local_domain_name }} {
    reverse_proxy http://ntfy:80
}

vikunja.{{ local_domain_name }} {
    reverse_proxy http://vikunja:3456
}
