{
    servers {
        trusted_proxies static private_ranges
    }
    auto_https off
}

http://jellyfin.{{ local_domain_name }} {
    reverse_proxy truenas.{{ local_domain_name }}:8096 {
        header_up Host jellyfin.{{ local_domain_name }}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
    }
}

http://ntfy.{{ local_domain_name }} {
    reverse_proxy http://ntfy:80
}
