version: '3'
services:
  caddy:
    image: caddy:{{ caddy_version }}
    restart: 'unless-stopped'
    ports:
      - 80:80
      - 443:443
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 30s
        failure_action: rollback
        monitor: 30s
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 30s
        monitor: 60s
    volumes:
      - {{ stack_prefix }}caddy_internal_data:/data
      - /opt/stacks/{{ stack_prefix }}caddy_internal/Caddyfile:/etc/caddy/Caddyfile
    networks:
      {{ stack_prefix }}services_internal:

volumes:
  {{ stack_prefix }}caddy_internal_data:

networks:
  {{ stack_prefix }}services_internal:
    external: true
