version: '3'
services:
  caddy:
    image: caddy-internal:{{ caddy_version }}
    ports:
      - 80:80
      - 443:443
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 30s
        failure_action: rollback
        monitor: 30s
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 30s
        monitor: 60s
      restart_policy:
        condition: none
        max_attempts: 3
    volumes:
      - {{ stack_prefix }}caddy_internal_data:/data
      - {{ stack_prefix }}caddy_internal_certs:/certs
      - {{ stack_prefix }}caddy_internal_acme:/root/.acme.sh
      - /opt/stacks/{{ stack_prefix }}caddy_internal/Caddyfile:/etc/caddy/Caddyfile
      - /opt/stacks/{{ stack_prefix }}caddy_internal/entrypoint.sh:/entrypoint.sh
    networks:
      {{ stack_prefix }}services_internal:
      {{ stack_prefix }}caddy_link:
    secrets:
      - {{ stack_prefix }}cf_api_token_{{ cf_api_token_hash }}

volumes:
  {{ stack_prefix }}caddy_internal_data:
  {{ stack_prefix }}caddy_internal_certs:
  {{ stack_prefix }}caddy_internal_acme:

networks:
  {{ stack_prefix }}services_internal:
    external: true
  {{ stack_prefix }}caddy_link:
    external: true

secrets:
  {{ stack_prefix }}cf_api_token_{{ cf_api_token_hash }}:
    external: true
