version: '3'
services:
  main:
    image: ghcr.io/theryangeary/volume_backup:{{ volume_backup_version }}
    deploy: 
      replicas: 1
      update_config:
        parallelism: 1
        delay: 30s
        failure_action: rollback
        monitor: 30s
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 30s
        monitor: 60s
    restart: 'no'
    environment:
      - FTP_PASSWORD_FILE=/run/secrets/homelab_ftp_password
      - FTP_HOST={{ ftp_host }}
      - FTP_USERNAME={{ ftp_username }}
    secrets:
      - homelab_ftp_password
    volumes:
      - homelab_gl_data:/data/gl_legacy
      - homelab_pathfinder_data:/data/pathfinder
      - homelab_mtadisplay_data:/data/mtadisplay
      - /opt/stacks/{{ stack_prefix }}gl/data:/data/gl:ro

volumes:
  homelab_gl_data:
    external: true
  homelab_pathfinder_data:
    external: true
  homelab_mtadisplay_data:
    external: true

secrets:
  homelab_ftp_password:
    external: true
