---
- hosts: all
  become: yes
  tasks:
    - name: Update apt package list
      ansible.builtin.apt: update_cache=yes cache_valid_time=3600

    - name: Ensure NTP is installed.
      ansible.builtin.apt: name=ntp state=present

    - name: Ensure NTP is running.
      ansible.builtin.service: name=ntp state=started enabled=yes

    - name: Ensure docker is installed.
      ansible.builtin.apt: name=docker.io state=present

    - name: Ensure docker is running.
      ansible.builtin.service: name=docker state=started enabled=yes

    - name: Ensure tailscale is installed.
      include_role:
        name: artis3n.tailscale.machine
      vars:
        state: absent
