auth_enabled: false

server:
  http_listen_port: {{ loki_port }}

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
  chunk_idle_period: 15m
  chunk_retain_period: 30s

schema_config:
  configs:
    - from: 2020-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 168h

storage_config:
  tsdb:
    dir: /data/loki/tsdb
  filesystem:
    directory: /data/loki/chunks

compactor:
  working_directory: /data/loki/compactor

limits_config:
  retention_period: {{ loki_retention_period_hours }}h
  max_query_length: {{ loki_retention_period_hours }}h